.slide-left-enter-active{
  animation: slideLeft .2s;
}
.slide-left-leave-active {
  animation: slideLeft .2s reverse;
}
@keyframes slideLeft {

  0% {
    transform: translate3d(30px, 0, 0);
  }
  70% {
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    transform: translate3d(0px, 0, 0);
  }
}

.slide-right-enter-active{
  animation: slideRight .2s;
}
.slide-right-leave-active {
  animation: slideRight .2s reverse;
}
@keyframes slideRight {

  0% {
    transform: translate3d(-30px, 0, 0);
  }
  70% {
    transform: translate3d(5px, 0, 0);
  }
  100% {
    transform: translate3d(0px, 0, 0);
  }
}
