.slide-left-enter-active{
  animation: anima .1s;
}
.slide-left-leave-active {
  animation: anima .1s reverse;
}
@keyframes anima {
  0% {
    opacity: .1;
    transform: translateX(15px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
