.slide-left-enter-active{
  animation: anima .2s;
}
.slide-left-leave-active {
  animation: anima .2s reverse;
}
@keyframes anima {

  0% {
    transform: translate3d(30px, 0, 0);
  }
  70% {
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    transform: translate3d(0px, 0, 0);
  }
}
