.slide-left-enter-active,
.slide-fade-leave-active {
  transition: all .3s ease;
}
.slide-left-enter{
  transform: translateX(10px);
}
.slide-left-leave-to,
.slide-left-leave,{
  transform: translateX(10px);
}
